* {
  border: 0.5px solid black;
}

body {
  background-color: cadetblue;
  margin: 0px;
}

header {
  width: 100%;
}

#page-heading {
  background-color: black;
  padding: 10px 0 5px 0;
  border-bottom: 3px solid lightgreen;
}

#page-heading h1 {
  color: lightgreen;
  text-decoration: underline;
  margin: 0;
  text-align: center;
}

#page-heading p {
  color: lemonchiffon;
  font-size: medium;
  font-weight: 700;
  text-align: center;
}

nav {
  background-color: black;
  padding: 5px 0 5px 0;
  border-bottom: 3px solid lightgreen;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: lightgreen;
}

nav ul li {
  color: darkorchid;
  font-size: larger;
  font-weight: 900;
}

/* Styles that apply to all projects */

.card-container {
  width: 1000px;
  height: 600px;
  background-color: bisque;
  border: 0.5px solid black;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.card-container h2 {
  text-align: center;
  margin-bottom: 50px;
}