/* CSS Project #8 */

/* Main formatting for whole card */
#card-box-8
.card8 

.card-column {
    position: absolute;
    display: flex;
}

.card8 .card {
    position: relative;
}

.card8 .card .border
.card8 .card img
.card8 .card h1

/* Colors for each element */
